<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head th:include="head :: head"></head>

<body>
<nav th:include="header-menu :: header-menu" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"></nav>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Punny headline</h1>
        <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with
            this example based on Apple’s marketing pages.</p>
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div th:each="product : ${products}">
        <div th:replace="product :: product-dark(name = ${product.getName()}, price = ${product.getPrice()})"></div>
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div th:each="product : ${products}">
        <div th:replace="product :: product-light(name = ${product.getName()}, price = ${product.getPrice()})"></div>
    </div>
</div>


<footer th:insert="footer :: footer" class="container py-5"></footer>
<div th:include="footer :: scripts"></div>

</body>
</html>
