<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<div th:fragment="product-dark (name, price)"
     class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
        <h2 th:text="${name}" class="display-5"></h2>
        <p class="lead">And an even wittier subheading.</p>
        <h3 th:text="${price}" class="display-4 font-weight-bold"></h3>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
</div>

<div th:fragment="product-light (name)" class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
        <h2 th:text="${name}" class="display-5"></h2>
        <p class="lead">And an even wittier subheading.</p>
        <h3 th:text="${price}" class="display-4 font-weight-bold">P</h3>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
</div>
</html>